*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
form{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    padding-top: 45px;
}
.main_form_valores,.main_form_porcentajes{
    width:80%;
    display:flex;
    flex-direction: column;
    margin:15px auto 15px;
}

input[type="button"]{
    grid-column: 1/3;
    width: 140px;
    margin: 20px auto 10px;
}